/* General Layout */
.admin-panel {
    display: flex;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
  }
  
  /* Main Content */
  .main-content {
    flex-grow: 1;
    padding: 20px;
    background-color: #f8f9fa;
  }
  
  .messages-container {
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
  }
  